@import "tailwindcss";


body {
  /* font-family: Arial, sans-serif; */
  /* max-width: 600px; */
  /* margin: 0 auto; */
  /* padding: 20px; */
  @apply p-5 mx-auto my-0 max-w-[600px];
}

/* button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
} */

/* input {
  padding: 8px;
  flex-grow: 1;
} */

.counter {
  margin-top: 20px;
  font-weight: bold;
}